* {
    border: solid 4px black;
}

@import "modern-normalize";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.right {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.left {
    background-color: rgb(0, 183, 255);
    color: white;
}

.main {
    background-color: lightgray;
}
