* {
    border: solid 1px black;
}

@import "modern-normalize";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
}

img {
    width: 40px;
    height: auto;
    margin: 15px;
    justify-self: end;
}

.right {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.left {
    background-color: rgb(0, 183, 255);
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    grid-template-rows: 160px repeat(13, 80px);
}

.main {
    background-color: lightgray;
}

.left > img {
    width: 35px;
    height: auto;
    justify-self: end;
    margin: 15px;
    filter: invert(100%);
}

.left > div,
.greeting,
button,
.username,
input,
.announcements,
.trending {
    font-family: 'Radley', Courier, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
}

.left > div {
    margin-right: 20px;
}

.left > :nth-child(1) {
    width: 55px;
}

.left > :nth-child(2) {
    font-size: 35px;
}

.header {
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.thirdquarter > :nth-child(1) {
    width: 100px;
}

.profpic,
.trending > div > img {
    display: block;
    border-radius: 50%;
    border: solid 2px black;
}

.firstquarter {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.thirdquarter {
    display: grid;
    grid-template-columns: 1fr 3fr;
    max-width: 1000px;
}

.fourthquarter,
.secondquarter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    max-width: 500px;
    justify-self: end;
    margin-right: 40px;
}

.greeting {
    align-self: center;
}

.larger-text {
    font-size: 30px;
}

button {
    background-color: rgb(105, 95, 255);
    color: white;
    border-radius: 35px;
    margin: 15px;
    font-size: 15px;
    width: 100px;
    height: 40px;
}

.smaller {
    width: 35px;
    height: auto;
}

.search-bar {
    align-self: center;
    display: grid;
    margin-right: 40px;
}

input {
    background-color: rgb(190, 190, 190);
    min-height: 30px;
    border-radius: 20px;
    padding: 4px 10px;
    font-weight: 200;
}

.username {
    align-self: center;
}

.secondquarter {
    grid-template-columns: 1fr 70px 1fr;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1f 1fr;
}

.projects {
    grid-row: span 2;
}

.announcements,
.trending {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    max-width: 350px;
}

.announcements > .title,
.trending > .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    align-self: end;
}

.ann1, .ann2, .ann3,
.trend1, .trend2, .trend3, .trend4 {
    background: #f8f9fa;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ann1, .trend1 {
    border-radius: 10px 10px 0 0;
}

.ann3, .trend4 {
    border-radius: 0 0 10px 10px;
}

.ann1:hover, .ann2:hover, .ann3:hover,
.trend1:hover, .trend2:hover, .trend3:hover, .trend4:hover {
    background: #e9ecef;
    transition: 0.3s;
}

.ann1 div, .ann2 div, .ann3 div,
.trend1 div, .trend2 div, .trend3 div, .trend4 div {
    margin-bottom: 5px;
}

.anntitle1, .anntitle2, .anntitle3,
.trendtitle1, .trendtitle2, .trendtitle3, .trendtitle4 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    align-self: last baseline;
}

.anntext1, .anntext2, .anntext3,
.trendtext1, .trendtext2, .trendtext3, .trendtext4 {
    font-size: 0.9rem;
    color: #666;
    align-self: baseline;
}

.trending > :nth-child(n+2) {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.trending > div > img {
    grid-row: span 2;
    align-self: center;
    justify-self: center;
    width: 75px;
}

.trending > :not(:last-child),
.announcements > :not(:last-child) {
    border-bottom: 1px solid lightgray;
    padding-bottom: 8px;
}
